<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control 
        (counterStart)="onStartCounter($event)"
      ></app-game-control>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li
              class="list-group-item" 
              *ngFor="let number of numbers; let i = index"
            >
              <app-even 
                *ngIf="number % 2 === 0"
                [number]="numbers[i]"
              ></app-even>
              <app-odd 
                *ngIf="number % 2 !== 0" 
                [number]="numbers[i]"></app-odd>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
